<!-- views/partials/_header.ejs -->
<div style="display: inline-block;">
<h1 style=" display: inline-block;">TinyApp</h1>
<a href="/urls/login">Login</a><a href="/urls/register">Sign Up</a>
  <% if(templateVars.user.userID === undefined) {%>

  <%} else {%>
  <p style=" display: inline-black;"><%= templateVars.user.email %></p>
  <form action="/urls/logout" method="POST">
    <button  style="display: inline-block;" type="submit">Logout</button>
  </form>
  <%}%>
</div>