<!-- views/partials/_header.ejs -->
<div class="header">
  <ul>
    <% if(templateVars.user.userID === undefined) {%>
    <li>
      <a href="/urls/login" class="button">Login</a>
    </li>
    <li>
      <a href="/urls/register" class="button">Sign Up</a>
    </li>
    <%} else {%>
    <li>
      <p><%= templateVars.user.email %></p>
    </li>
    <li>
      <form action="/urls/logout" method="POST">
        <button class="button" type="submit">Logout</button>
      </form>
    </li>
    <%}%>
  </ul>
</div>
<div class="title">
  <ul>
    <li>
      <a href="/urls"><img src="skull.png"></a>
    </li>
    <li>
      <h1>ZombieApp</h1>
    </li>
</div>