<!-- views/urls_register.ejs -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="style.css" >
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
<head>
  <title>ZombieApp</title>
</head>
<body>
  <% include partials/_header %>
  <div class="container">
    <div class="content">
      <h2>Register your account</h2>
      <ul>
        <form action="/urls/register" method="POST">
          <label for="email"></label>
          <input id="email" type="email" name="email" placeholder="youremail@tinyApp.com"><br></br>
          <input id="password" type="password" name="password" placeholder="********"><br></br>
          <input type="submit" value="Submit">
        </form>
      </ul>
    </div>
  </div>

</body>
</html>
