<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - Home</title>
</head>
<body style="font-size:20px; padding:50px;">

  <% include partials/_header %>
  <h1>List of URLS</h1>
  <ul>
    <% for(var url in templateVars.urls) { %>
        <% if(templateVars.urls[url][1] === templateVars.user.userID) {%>
        <form method="POST" action="/urls/<%= url %>/delete">
          <li><%= url %> - <%= templateVars.urls[url[0]] %>
          <input type="submit" value="Delete">
        </form>

        <a href="/urls/<%= url %>">   edit   </a>

      </li>
    <% }}; %>
  </ul>
  <div class="container">

    <a href="/urls/new" style="text-decoration: none; color: black;">Make new TinyApp</a>

  </div>

</body>
</html>
