<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
<head>
  <title>ZombieApp</title>
</head>

<body>

  <% include partials/_header %>

  <div class="container">
    <div class="content">
      <h2>You Monster</h1>
      <ul>
         <li><a href="http://localhost:8080/u/<%= instanceVars.shortURL %>">http://localhost:8080/u/<%= instanceVars.shortURL %></a></li>
      </ul>

      <ul>
        <li><a href="new">Another one!</a>  <a href="/urls">Short URLS</a></li>
      </ul>
      <h1>Update <%= instanceVars.shortURL %></h1>
      <form action="/urls/<%= instanceVars.shortURL %>/update" method="POST">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
        <input type="submit" value="Update">
      </form>
    </div>
  </div>
</body>
</html>
