<!DOCTYPE html>
<html lang="en">
<link href="style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
  <head></head>
  <body>
    <% include partials/_header %>

    <div class="container">
      <div class="content">
        <h2 style="color: red">Murder URL</h2>
        <form action="/urls" method="POST">
          <label for="longURL"></label>
          <input id="longURL" type="text" name="longURL" placeholder="http://">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
