<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - Home</title>
</head>
<body>
<header>
    <% include ./partials/_header %>
</header>
  <h1>List of URLS</h1>
  <ul>
    <% for(var url in urls) { %>
      <li><%= url %> - <%= urls[url] %></li>
    <% }; %>
  </ul>
  <a href="#">Make new TinyApp</a>
</body>
</html>
