<!-- urls_login.ejs -->
<!DOCTYPE html>
<html lang="en">
<link href="style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
<head>
  <title>TinyApp - Login</title>
</head>
<body>

  <% include partials/_header %>

  <div class="container">
    <div class="content">
      <h1>Login</h1>
      <form action="/urls/login" method="POST">
          <label for="email"></label>
          <input id="email" type="text" name="email" placeholder="yourname@gmail.com"><br></br>
          <input id="password" type="password" name="password" placeholder="********" ><br></br>
          <input type="submit" value="Submit">
      </form>
    </div>
  </div>

</body>
</html>
