<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<link href="style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<head>
  <title>TinyApp - Home</title>
</head>
<body>
    <% include partials/_header %>

  <div class="container">
    <h1>Zombie</h1><img src="public/skull.png"><h1>App</h1>
    <ul>
      <% for(var url in templateVars.urls) { %>
        <% if(templateVars.urls[url][1] === templateVars.user.userID) {%>
        <li>
          <%= url %> - <%= templateVars.urls[url][0] %>
        </li>
        <li>
          <form method="POST" action="/urls/<%= url %>/delete">
          <input type="submit" value="Delete">
          </form>
        </li>
        <li>
        <a href="/urls/<%= url %>">   edit   </a>
        </li>
      <% }}; %>
      <li>
        <a href="/urls/new">Make new TinyApp</a>
      </li>
    </ul>


  </div>

</body>
</html>
