<!-- urls_login.ejs -->
<!DOCTYPE html>
<html lang="en">
<link href="style.css" type="text/css" rel="stylesheet">
<head>
  <title>TinyApp - Login</title>
</head>
<body>

  <% include partials/_header %>
  <h1>Login</h1>
  <form action="/urls/login" method="POST">
      <label for="email">Login</label>
      <input id="email" type="text" name="email" placeholder="email"><br></br>
      <input id="password" type="password" name="password" placeholder="********" ><br></br>
      <input type="submit" value="Submit">
  </form>

</body>
</html>
